<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="defaultDb" connectionString="data source=.;database=yypb;uid=sa;pwd=sa123456;" providerName="System.Data.SqlClient"/>
    <add name="cwgl" connectionString="Data Source= chb;User ID=jkgl;Password=jkgl;Persist Security Info=True" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="cwgl1" connectionString="Data Source= chb;User ID=jkgl;Password=jkgl;" providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>